@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>向导模式设计POP</title>
    <link href="~/Content/smart_wizard.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/image-picker.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery.smartWizard.js"></script>

    @*<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>*@
    @*<script src="~/Scripts/jquery.smartWizard-2.0.min.js" type="text/javascript"></script>*@
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/image-picker.min.js" type="text/javascript"></script>

    <style type="text/css">
        .image_picker_image {
            max-width: 400px;
            max-height: 285px;
            background-color: #FF0000;
        }

        #Gened_POP, #step-4-content {
            width: 100%;
            height: 427px;
            border: 1px solid #ffffff;
            /*background-image: url("Empty_POPs/nopromotion.png");*/
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
        }
    </style>
    <script type="text/javascript">
        //var currentTemplate;
        //var currentEmtpyTemplate;

        //当点下一步时回调该函数，一般用于当前步骤的校验
        function ShowAStepCallback(obj, context) {
            //alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);
            if (context.toStep == "3") {
                //DIV3 嵌入视图
                //alert("Leaving step " + context.fromStep + " to go to step " + context.toStep);

                var currimgpath = $('#selectImage option:selected').text();
                $('#center').css("backgroundImage", "url(" + currimgpath + ")");

                var currpropoppath = $('#select1 option:selected').text();
                $('#Gened_POP').css("backgroundImage", "url(" + currpropoppath + ")");

                if ($('#selectImage').val() == "" || $('#select1').val() == "")
                    alert("模板版头或者促销空版为选择，请先选择！");
                else {
                    var data = {
                        currentTemplate: $('#selectImage').val(),
                        currentEmtpyTemplate: $('#select1').val(),
                    }

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetPOPView", "POPManage")',
                        data: data,
                        datatype: "html",
                        success: function (data) {
                            $("#step-3-pv").html(data);
                            //切换center div 对应背景图片
                            var imgpath = $('#selectImage option:selected').text();
                            //alert(imgpath);
                            $('#center').css("backgroundImage", "url(" + imgpath + ")");
                        },
                        error: function () {
                            alert("调用处理模块获取后台局部视图失败！");
                        }
                    });
                }
            }

            if (context.toStep == "4") {
                var image = $('#Gened_POP').css("backgroundImage");
                $('#step-4-content').css("backgroundImage", image);
            }
        }

        $(document).ready(function () {
            // Smart Wizard 	
            $('#wizard').smartWizard(
                {
                    //onNextStep: nextStepCallback,
                    //onFinishCallback: onFinishCallback
                    labelNext: '下一步', // label for Next button
                    labelPrevious: '上一步', // label for Previous button
                    labelFinish: '完成',  // label for Finish button       
                    onShowStep: ShowAStepCallback,
                    //onFinish: onFinishCallback
                }
            );
            $("#selectImage").imagepicker({
                hide_select: true
            });

            $("#selectImage").change(function () {
                //alert($("#selectImage ").val())
                //currentTemplate = $("#selectImage ").val();

                $(".selimg_png").remove();
                var ind = $('option:selected', '#selectImage').index();
                $(".thumbnail").css("position", "relative");
                $(".thumbnail").eq(ind - 1).append("<div class=\"selimg_png\" style=\"position:absolute;left:135px;top:15px;background-image:url(/Content/images/select_img.png);width:64px;height:64px;\"></div>");
            });

            $("#select1").imagepicker({
                hide_select: true
            });

            $("#select1").change(function () {
                ////alert($("#select1 ").val())
                //currentEmtpyTemplate = $("#select1 ").val();

                $(".selimg_png1").remove();
                var ind = $('option:selected', '#select1').index();
                var addind = $("#selectImage").children().length - 1;
                $(".thumbnail").css("position", "relative");
                $(".thumbnail").eq(ind - 1 + addind).append("<div class=\"selimg_png1\" style=\"position:absolute;left:135px;top:15px;background-image:url(/Content/images/select_img.png);width:64px;height:64px;\"></div>");
            });
        });

        function doDownload() {
            //alert("下载功能开发中，敬请期待");
            var image = $('#step-4-content').css("backgroundImage");
            if (image == "")
                alert("POP未生成，请先生成然后下载");
            else {
                //alert(image);
                window.location.href = '/POPManage/DownloadPOP?POPName=' + image;
                alert("下载完成后，请注意传送到打印处打印或U盘拷贝至POP屏播放！");
            }
        }

        function doPrint() {
            alert("打印功能开发中，敬请期待");
        }

        function doSendToPOPScreen() {
            alert("发送电子广告功能开发中，敬请期待");
        }
</script>

</head>
<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <!-- Smart Wizard -->
                <div id="wizard" class="swMain">
                    <ul>
                        <li><a href="#step-1">
                            <span class="stepNumber">1</span>
                            <span class="stepDesc">Step 1<br />
                                <small>Step 1 选择模版版头</small>
                            </span>
                        </a></li>
                        <li><a href="#step-2">
                            <span class="stepNumber">2</span>
                            <span class="stepDesc">Step 2<br />
                                <small>Step 2 选择促销空版</small>
                            </span>
                        </a></li>
                        <li><a href="#step-3">
                            <span class="stepNumber">3</span>
                            <span class="stepDesc">Step 3<br />
                                <small>Step 3 填表生成POP</small>
                            </span>
                        </a></li>
                        <li><a href="#step-4">
                            <span class="stepNumber">4</span>
                            <span class="stepDesc">Step 4<br />
                                <small>Step 4 后续处理步骤</small>
                            </span>
                        </a></li>
                    </ul>
                    <div id="step-1">
                        <h2 class="StepTitle">第一步：选择模版版头</h2>
                        <div style="position: absolute; height: 450px; overflow: auto">
                            <select id="selectImage" class="image-picker">
                                <option value=""></option>
                                @foreach (var templatehead in ViewBag.ddllist)
                                {                                    
                                    <option data-img-src='@templatehead.text' value='@templatehead.id'>@templatehead.text</option>
                                }
                                @*  <option data-img-src='http://localhost:2191/Areas/POP/POPImages/PopTemplates/百分百分区间.png' value='4.jpg'>4.jpg</option>*@
                            </select>
                        </div>
                    </div>
                    <div id="step-2">
                        <h2 class="StepTitle">第二步：选择促销空版</h2>
                        <div style="position: absolute; height: 450px; overflow: auto">
                            <select id="select1" class="image-picker">
                                <option value=""></option>
                                @foreach (var emptytemplate in ViewBag.emptytemplatelist)
                                {                                    
                                    <option data-img-src='@emptytemplate.text' value='@emptytemplate.id'>@emptytemplate.text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div id="step-3">
                        <h2 class="StepTitle">第三步：填表生成POP</h2>
                        <div id="step-3-pv" style="width: 33%; float: left; margin-top: 10px"></div>
                        <div style="float: left; width: 34%; margin-top: 10px">
                            <div style="float: right; margin-right: 50px">
                                <button class="btn btn-success" href="#" onclick="doGenPOP()">生成POP图片</button>
                                <button class="btn btn-danger " href="#">重置POP内容</button>
                            </div>
                        </div>
                        <div style="float: left; width: 33%; margin-top: 10px">
                            <!--<img src="Empty_POPs/POP_1.png" />-->
                            <div id="Gened_POP"></div>
                        </div>
                    </div>
                    <div id="step-4">
                        <h2 class="StepTitle">第四步：后续处理步骤</h2>
                        <div id="step-4-content" style="width: 33%; float: left; margin-top: 10px"></div>
                        <div style="margin:10px">
                            <div style="float: left;margin-left:20px">
                                <button class="btn btn-success" href="#" onclick="doDownload()">直接下载</button></div>
                            <div style="float: left;margin-left:20px">
                                <button class="btn btn-success" href="#" onclick="doPrint()">加入打印</button></div>
                            <div style="float: left;margin-left:20px">
                                <button class="btn btn-success" href="#" onclick="doSendToPOPScreen()">发送电子屏</button></div>
                        </div>           
                    </div>
                </div>
                <!-- End SmartWizard Content -->
            </td>
        </tr>
    </table>
</body>
</html>
