@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PrintDelivery</title>
    <link href="/Content/blueprint/screen.css" rel="stylesheet" type="text/css" />
    <link href="/Content/blueprint/print.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="/Content/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <style media="print">
        .Noprint
        {
            display: none;
        }

        .PageNext
        {
            page-break-after: always;
        }
    </style>
</head>
<body class="container">
    <input type="button" onclick="window.print()" value="打印" class="Noprint" />
    @{ var master = ViewData["master"] as ESS_JXC.Models.DeliveryMaster;
       var tel = "";
       if (!string.IsNullOrEmpty(master.Tel))
       {
           tel = master.Tel;
       }
       else if (master.SalesMan != null && !string.IsNullOrEmpty(master.SalesMan.MobilePhone))
       {
           tel = master.SalesMan.MobilePhone;
       }
       else if (master.SalesMan != null && !string.IsNullOrEmpty(master.SalesMan.ContactPhone))
       {
           tel = master.SalesMan.ContactPhone;
       }
    }
    <div>
        <div>
            <h1 class="span-12" style="text-align:right">波波</h1><h2 class="span-12 last">诚信售货单</h2>
        </div>
        <div class="large">
            <div class="span-2 first">购货单位:</div>
            <div class="span-8">@master.Customer.CustomerName (@tel)</div>
            <div class="span-4 prepend-4">@master.DeliveryDate.ToLongDateString()</div>
            <div class="span-2 ">车号:</div>
            <div class="span-4 last">@master.CarNo</div>
        </div>
        <table>
            <thead>
                <tr>
                    <td class="span-2">序号</td>
                    <td class="span-6">品种</td>
                    <td class="span-4">规格</td>
                    <td class="span-4">数量</td>
                    <td class="span-4">金额</td>
                    <td class="span-4">备注</td>
                </tr>
            </thead>
            @{
                var i = 1;
                var detail = ViewData["detail"] as List<ESS_JXC.Models.DeliveryDetail>;
                foreach (var d in detail)
                {
                <tr>
                    <td>@(i++)</td>
                    <td>@d.Product.ProductName</td>
                    <td>@d.Product.ProductSpecification</td>
                    <td>@d.Quantity</td>
                    <td>@d.Amount</td>
                    <td></td>
                </tr>
                }
            }
        </table>
    </div>

</body>
</html>
